*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 100px;
    background-color: black;
    border: red 3px solid;
}

.container{
    width: 80%;
    height: 100%;
    
    margin: auto;
    color: red;
}

.header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.header h1{
    /* color: aquamarine; */
}
.navbar li{
    font-weight: lighter;
    /* color: goldenrod; */
}

.navbar .active {
    font-weight: bolder;
}
.navbar li a{
    text-decoration: none;
    color: red;
}